extends layout

block content
  h1= title
  if user
    h2 Welcome back, !{user.username}
    div.mb-3
      a.btn.btn-primary(href='users/logout') Logout
  else
    div.mb-3
      a.btn.btn-primary(href="/users/signup") Sign-Up
    div.mb-3
      a.btn.btn-primary(href="/users/login") Login
