extends layout

block content
  div.row.wrap 
    if !user
      div.col-lg-4
        h1= title
        p Please log-in or sign-up to participate.

    div.col
      if user
        if isMember
          div.container-sm-1.mb-4
            button.btn.btn-outline-primary(type="button" data-bs-toggle="modal" data-bs-target="#postModal") New Post
            a.btn.btn-primary.mx-2(href="/") Refresh

          div.modal.fade(id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true")
            div.modal-dialog
              form(action="/new" method="post") 
                div.modal-content 

                  div.modal-header 
                    h5.modal-title(id="postModalLabel") New post
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")

                  div.modal-body 
                    div.mb-3 
                      label.col-form-label(for="message") Message: 
                      textarea#message.form-control(name="message" required)

                  div.modal-footer 
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close 
                    button.btn.btn-primary(type="submit") Post

        else 
          div.container-sm-1.mb-4 
            a.btn.btn-primary(href="/member") Become a Member
      else 
        div.container-sm-1.mb-4 
          p Showing last 5 posts. More for Members Only.

      -var n=0
      while n<5
        div.card.my-4
          div.card-header Posted on 
            span.fst-italic 
              if user
                | 05.12.2021 at 13:13
              else
                | ( members-only )
          div.card-body 
            blockquote.blockquote.mb-0
              p This is a test message. Have a nice day!
              footer.blockquote-footer
                span.fst-italic
                  if user 
                    | Admin 
                  else
                    | ( members-only )
          -n++


