extends layout

block content
  h1= title
  p Welcome to #{title}
  if user 
    p welcome back !{user.username}
  div
      a(href="/users/signup") Sign-Up
      br 
      a(href="/users/login") Login
