extends layout 

block content 
    h1!= title 

    if errors 
        ul.list-group.list-group-flush 
            each error in errors 
                li.list-group-item.list-group-item-danger.my-1!= error.msg

    form(action="/users/login" method="post") 
        div.mb-3
            label.form-label(for="username") Username: 
            input#username.form-control(type="text" name="username" value=(username ? username : '') required)
        div.mb-3
            label.form-label(for="password") Password: 
            input#password.form-control(type="password" name="password" required)
        div.mb-3
            input.btn.btn-primary(type="submit" value="Log-In")  