extends ../layout

block content 

    h1!= title 

    if errors 
        ul 
            each error in errors 
                li!= error.msg

    form(action="/users/signup", method="post") 
        label(for="username") Username: 
        br
        input#username(type="text", name="username" value=(username ? username : ''))
        br
        br
        label(for="password") Password: 
        br
        input#password(type="password", name="password")
        br
        br
        label(for="confirmpassword") Confirm Password: 
        br
        input#confirmpassword(type="password", name="confirmpassword")
        br
        br
        input(type="submit", value="Submit")
